@import "/src/styles/settings.scss";

.star-rating {
    display: flex;
    justify-content: flex-end;
    margin-top: 1vw;
  svg {
    font-size: x-large;
    padding-right: 2px;
  }
  .active-color {
    color: $color-1;
  }
  .inactive-color {
    color: $color-5;
  }
}

@media screen and (max-width: 426px) {
  .star-rating {
    svg {
      font-size: large;
      padding-right: 1px;
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .star-rating {
    svg {
      font-size: large;
      padding-right: 1px;
    }
  }
}