@import "/src/styles/settings.scss";

.star-rating {
    display: flex;
    justify-content: flex-end;
    margin-top: 1vw;
  svg {
    font-size: x-large;
    padding-right: 2px;
  }
  .active-color {
    color: $color-1;
  }
  .inactive-color {
    color: $color-5;
  }
}
