@import '/src/styles/settings.scss';

body {
  max-width: 1024px;
  margin: auto;
  padding: 5vw;
  font-family: 'Montserrat';
}

/****** Housing Page ******/
main {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
}

article:nth-child(1) {
  margin-bottom: 3vw;
}

section {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

aside {
  width: 47%;
}

/****** About Page ******/
.dropdowns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

/****** Error Page ******/
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 7vw;
  color: $color-1;
  font-weight: bold;
  span {
    font-size: 200px;
  }
  p {
    font-size: 25px;
  }
  a {
    font-size: 18px;
    margin-top: 10vw;
    color: $color-1;
  }
}

@media screen and (max-width: 426px) {
  /****** Housing Page ******/
  main {
    flex-direction: column;
    article:nth-child(2) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }
  section {
    flex-direction: column;
    margin-top: 3vw;
    aside {
      width: 100%;
    }
  }
  /****** About Page ******/
  .dropdowns {
    width: 100%;
  }
  /****** Error Page ******/
  .error {
    span {
      font-size: 100px;
    }
    p {
      font-size: 20px;
    }
    a {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  /****** Housing Page ******/
  main {
    flex-direction: column;
  }
  article:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  /****** About Page ******/
  .dropdowns {
    width: 100%;
  }
  /****** Error Page ******/
  .error {
    span {
      font-size: 120px;
    }
    p {
      font-size: 22px;
    }
    a {
      font-size: 17px;
    }
  }
}
