$color-1: #ff6060;
$color-2: #ffffff;
$color-3: #000000;
$color-4: #f7f7f7;

.card {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  h4 {
    position: absolute;
    top: 70%;
    left: 4%;
    color: $color-2;
  }
}
