$color-1: #ff6060;
$color-2: #ffffff;
$color-3: #000000;
$color-4: #f7f7f7;

.host {
  display: flex;
  align-items: center;
  justify-content: right;
  h5 {
    color: $color-1;
    padding-right: 1vw;
    text-align: right;
    width: 50%;
    margin: 0;
    font-size: 15px;
  }
  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
}
