@import "/src/styles/settings.scss";

.gallery {
  background: $color-4;
  border-radius: 2vw;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
    padding: 3vw;
  }
}

@media screen and (max-width: 426px) {
  .gallery {
    background: $color-2;
    ul {
      flex-direction: column;
      gap: 4vw;
      padding: 0;
    }
  }
}
