$color-1: #ff6060;
$color-2: #ffffff;
$color-3: #000000;
$color-4: #f7f7f7;

.locality {
  margin-top: 2vw;
  color: $color-1;
  h2 {
    margin-top: 1vw;
  }
  h4 {
    margin-top: 1vw;
    font-size: 18px;
  }
}
