$color-1: #ff6060;
$color-2: #ffffff;
$color-3: #000000;
$color-4: #f7f7f7;

.locality {
  color: $color-1;
  h2 {
    margin: 1vw 0 0 0;
    font-size: 25px;
  }
  h5 {
    margin: 0.5vw 0 2vw 0;
  }
}
