@import "/src/styles/settings.scss";

.locality {
  color: $color-1;
  h2 {
    margin: 1vw 0 0 0;
    font-size: 25px;
  }
  h5 {
    margin: 0.5vw 0 2vw 0;
    font-size: 13px;
  }
}

@media screen and (max-width: 426px) {
  .locality {
    h2 {
      font-size: 18px;
    }
    h5 {
      margin: 2.5vw 0 3vw 0;
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .locality {
    h2 {
      font-size: 20px;
    }
    h5 {
      margin: 2.5vw 0 3vw 0;
      font-size: 12px;
    }
  }
}