@import "/src/styles/settings.scss";

.banner {
  display: flex;
  justify-content: center;
  width: auto;
  height: 140px;
  border-radius: 2vw;
  margin: 3vw 0;
  background: url(../../assets/banner.png) center/cover;
  span {
    align-self: center;
    color: $color-2;
    font-size: 35px;
    font-weight: bold;
  }
}

@media screen and (max-width: 426px) {
  .banner {
    height: 110px;
    justify-content: left;
    span {
      width: 70%;
      font-size: 24px;
      padding-left: 3vw;
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .banner {
    height: 110px;
    justify-content: left;
    span {
      width: 70%;
      font-size: 27px;
      padding-left: 3vw;
    }
  }
}